body
{
    background-color:lightgray;
    
}
#myDiv {
    width: 300px;
    float: right;
    border: double;
    text-align: right;
    overflow: hidden;
}



ul {
    list-style-type: none;
    text-align:center;
}

.close {
    padding-left:3%;
    font-size:210%;
    }
#listH {
    text-align:center;
  
}

#rubbish {
    float: left;
    text-align: left;
}