body
{
    background-color:lightgray;
    
}
#myDiv {
    width:15%;
    float: right;
    border: double;
    text-align: right;
    padding-right: 3%;
}

#myInput {
    position: relative;
    width:60%;
}


ul {
    list-style-type: none;
    text-align: center;
    height: 250px;
   
    overflow: auto;
}

.close {
    padding-left:3%;
    font-size:210%;
    }
#listH {
    position:relative;
    text-align:center;
  
}
li {
    border: 1px solid black;
    border-radius: 1px;
    padding-right: 6px;
    height: 20%;
  
    overflow: auto;
}
#rubbish {
    float: left;
    text-align: left;
}  